language: csharp
solution: MyGameWin.sln
before_install:
    - sudo apt-get install nunit-console
before_script:
    - nuget restore
    - msbuild/p:Configuration=Debug-Windows
    - msbuild/p:Platform="Any CPU"
after_script:
    - nunit-console MyGameWin.Tests/bin/Release/MyGameWin.Tests.dll